/* main.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #dcd0d0;
    margin: 0;
    padding: 20px;
  }
  
  #quiz-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: rgb(251, 249, 249);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .hidden {
    display: none;
  }
  
  button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
